<h1>Welcome, fellow traveller!</h1>
<p>
  You have successfully signed up to trvlr,<br/>
  your username is: <%= @user.username %>.<br/>
</p>
<p>
  To login to the site, just follow this link:<br/>
  <%= link_to root_url, root_url %>.
</p>