<h1>Welcome, fellow traveller!</h1>
<p>
  You have successfully signed up to trvlr,
  your username is: <%= @user.username %>.<br>
</p>
<p>
  To login to the site, just follow this link: <a href=<%= @url %>><%= @url %></a>.
</p>
<p>Thanks for joining and have a great day!</p>
