<h2 id="comments" class="display-6 mt-5 mb-4">Comments</h2>

<div data-controller="comment">
  <% if can_comment %>
    <%= render 'shared/add_button', target: "#", resource: 'comment', data: { action: "click->comment#showForm", "comment-target": "button" } %>
  <% end %>

  <div data-comment-target="form" class="d-none">
    <%= render "comments/form", commentable: commentable, comment: Comment.new(commentable: commentable) %>
  </div>
</div>

<%= tag.div "comments", class: "row row-cols-1 row-cols-xl-2 g-3 my-3" do %>
  <%= render commentable.comments %>
<% end %>
