<h2 class="display-6">Comments for <%= beautiful_classname(@commentable) %></h2>
<p><%= "#{@comments.size} comments" %></p>
<div class="my-4">
  <%= link_to 'New comment', new_comment_path(@commentable), class: 'btn btn-large btn-dark' %>
</div>
<div class="row row-cols-1 g-4">
  <%= render @comments %>
</div>
