<h2 class="display-6">Comments for <%= beautify_classname(@commentable) %></h2>

<p><%= "#{@comments.size} comments" %></p>

<%= render 'shared/add_button', target: new_comment_path(@commentable), resource: 'comment' %>

<div class="row row-cols-1 g-4">
  <%= render @comments %>
</div>
