<%= link_to trip_trip_users_path(@trip), class: 'btn btn-large btn-outline-dark mb-4' do %>
  <i class="bi bi-arrow-left"></i>
<% end %>

<h1 class="display-2">Add participant</h1>
<%= render 'form', trip_user: @trip_user %>