<footer class="footer">
  <div class="row justify-content-between w-100 row-cols-1 row-cols-sm-3 g-3">
    <div class="col">
      <%= link_to 'trvlr', root_path, class: 'trvlr-logo text-white shadow' %><br>
      <div class="mt-3 text-shadow">
        www.trvlr.cl<br>
        staff@trvlr.cl
      </div>
    </div>
    <div class="col d-grid">
      <p class="text-shadow">© 2021 by CL</p>
      <%= link_to 'https://github.com/chrila' do %>
        <i class="bi bi-github text-shadow"></i>
      <% end %>
    </div>
    <div class="col">
      <%= link_to 'Admin', admin_root_path, class: 'btn btn-admin' %>
    </div>
  </div>
</footer>
