<%= link_to trip_media_items_path(trip), class: class_names('btn btn-outline-dark', 'active': local_assigns[:active] == 'media_items') do %>
  <i class="bi bi-images mx-1"></i><span class="d-none d-md-inline">Media</span>
<% end %>