<div class="mb-4">
  <h1 class="display-6 text-black-50 mb-0"><%= trip.title if trip %></h1>
  <h2 class="display-2"><%= title %></h2>
</div>

<% if local_assigns[:navbar].nil? || local_assigns[:navbar] %>
  <%= render 'shared/trips_navbar', active: active %>
<% end %>