<%= link_to trip_waypoints_path(trip), class: class_names('btn btn-outline-dark', 'active': local_assigns[:active] == 'waypoints') do %>
  <i class="bi bi-geo-alt mx-1"></i><span class="d-none d-md-inline">Waypoints</span>
<% end %>