<%= link_to trip, class: class_names('btn btn-outline-dark', 'active': local_assigns[:active] == 'overview') do %>
  <i class="bi bi-compass mx-1"></i><span class="d-none d-md-inline">Overview</span>
<% end %>