<%= link_to trip_trip_users_path(trip), class: class_names('btn btn-outline-dark', 'active': local_assigns[:active] == 'participants') do %>
  <i class="bi bi-people mx-1"></i><span class="d-none d-md-inline">Participants</span>
<% end %>