<%= link_to trip_posts_path(trip), class: class_names('btn btn-outline-dark', 'active': local_assigns[:active] == 'posts') do %>
  <i class="bi bi-journals mx-1"></i><span class="d-none d-lg-inline">Blog</span>
<% end %>