<%= link_to trip_segments_path(trip), class: class_names('btn btn-outline-dark', 'active': local_assigns[:active] == 'segments') do %>
  <i class="bi bi-bezier2 mx-1"></i><span class="d-none d-md-inline">Segments</span>
<% end %>