<div class="trip-header"
  <% if trip && trip.cover_photo %>
    style="background-image: url(<%= url_for trip.cover_photo.photo %>)"
  <% end %>
>
  <h1 class="display-6">
    <span class="trip-header-text trip-header-text-above">
      <%= trip.title if trip %>
    </span>
  </h1>
  <h2 class="display-2"><span class="trip-header-text"><%= title %></span></h2>
</div>

<% if local_assigns[:navbar].nil? || local_assigns[:navbar] %>
  <%= render 'shared/trips_navbar', active: active %>
<% end %>