<% if trip_counter < 1 %>
  <div class="carousel-item active">
<% else %>
  <div class="carousel-item">
<% end %>

  <%= image_tag trip.cover_photo.photo.representation(resize_to_limit: [800, 800]), class: 'carousel-image', alt: trip.cover_photo.title %>

  <div class="container">
    <div class="carousel-caption text-start">
      <h1><span class="display-4 trip-carousel-text"><%= trip.title %></span></h1>
      <h4><span class="display-6 trip-carousel-text">by <%= participant_list trip %></span></h4>
      <p><%= link_to raw('Check it out &raquo;'), trip, class: 'btn btn-lg btn-dark shadow-lg my-3' %></p>
    </div>
  </div>
</div>
