<div class="card my-3">
  <%= link_to trip.title, trip, class: 'display-6' %>
  <p class="text-muted"><%= "From #{trip.start_date.to_s(:long)} to #{trip.end_date.to_s(:long)}, Likes: #{trip.likes_count}" %></p>
  <p><%= trip.description %></p>
</div>