<h1 class="d-none">trvlr</h1>
<div class="landing-header">
  <p class="display-1 mb-5">Welcome to trvlr!</p>
  <p class="display-1 mb-5">Plan, document and share your trips.</p>
  <p class="display-1 text-primary mt-5">Together.</p>
</div>

<h2 class="display-3 mb-5">Check out the trips shared by our users!</h2>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <%= render partial: 'trip_carousel_item', collection: Trip.public_top_five, as: :trip %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2 class="display-3 mb-5">... and there is more :)</h2>

<%= render partial: 'trip', collection: Trip.public_most_likes, as: :trip %>
