<%= render 'shared/trips_header', trip: @trip, title: 'Segments', active: 'segments' %>

<% if can? :manage, @trip %>
  <%= render 'shared/add_button', target: new_trip_segment_path(@trip), resource: 'segment' %>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col" class="d-none d-md-table-cell">Start</th>
      <th scope="col" class="d-none d-md-table-cell">End</th>
      <th scope="col" class="d-none d-sm-table-cell">Distance</th>
      <th scope="col">Status</th>
      <% if can? :manage, @trip %>
        <th scope="col"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @segments %>
  </tbody>
</table>
