<%= link_to :back, class: 'btn btn-large btn-outline-dark mb-4' do %>
  <i class="bi bi-arrow-left"></i>
<% end %>

<h1 class="display-2"><%= "#{@trip.title} - Segments" %></h1>

<div class="my-3">
  <%= link_to 'New segment', new_trip_segment_path(@trip), class: 'btn btn-large btn-dark' %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Distance</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @segments %>
  </tbody>
</table>
