<%= link_to trip_segments_path(@trip), class: 'btn btn-large btn-outline-dark mb-4' do %>
  <i class="bi bi-arrow-left"></i>
<% end %>

<h1 class="display-2">New segment</h1>
<%= render 'form', segment: @segment %>
