<%= link_to :back, class: 'btn btn-large btn-outline-dark mb-4' do %>
  <i class="bi bi-arrow-left"></i>
<% end %>

<h1 class="display-2">Edit media item</h1>
<%= render 'form', media_item: @media_item %>
