<h1 class="display-2"><%= "#{@waypoint.name} - Media gallery" %></h1>

<%= render 'shared/back_button', target: :back %>

<% if can? :new_waypoint, MediaItem %>
  <%= render 'shared/add_button', target: trip_waypoint_new_media_item_path(@trip, @waypoint), resource: 'media item' %>
<% end %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <%= render @media_items %>
</div>
