<h1 class="display-2">Media gallery</h1>

<div class="my-3">
  <%= link_to 'New item', trip_new_media_item_path, class: 'btn btn-primary btn-large' %>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <%= render @media_items %>
</div>
