<h1 class="display-2"><%= "#{@waypoint.name} - Media gallery" %></h1>

<%= link_to :back, class: 'btn btn-large btn-outline-dark mb-4' do %>
  <i class="bi bi-arrow-left"></i>
<% end %>

<% if can? :new_waypoint, MediaItem %>
  <div class="my-3">
    <%= link_to 'New item', trip_waypoint_new_media_item_path, class: 'btn btn-dark btn-large' %>
  </div>
<% end %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <%= render @media_items %>
</div>
