<%= render 'shared/navbar_trips' %>

<h1 class="display-2"><%= "#{@trip.title} - Media gallery" %></h1>

<% if can? :new_trip, MediaItem %>
  <div class="my-3">
    <%= link_to 'New item', trip_new_media_item_path, class: 'btn btn-dark btn-large' %>
  </div>  
<% end %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <%= render @media_items %>
</div>
