<div class="btn-group mb-4">
  <%= link_to 'Current year', summary_current_year_path, class: 'btn btn-large btn-outline-dark' %>
  <%= link_to 'Overall', summary_overall_path, class: 'btn btn-large btn-outline-dark' %>
</div>
