<div class="btn-group mb-4 w-100">
  <%= link_to 'Current year', summary_current_year_path, class: class_names('btn btn-outline-dark', 'active': action_name == 'current_year') %>
  <%= link_to 'Last year', summary_last_year_path, class: class_names('btn btn-outline-dark', 'active': action_name == 'last_year') %>
  <%= link_to 'Overall', summary_overall_path, class: class_names('btn btn-outline-dark', 'active': action_name == 'overall') %>
</div>
