<%= render 'summary_header' %>
<%= render 'summary', stats: @stats %>

<% if @stats[:waypoints_per_continent].present? %>
  <div class="mt-5">
    <h2 class="display-6 mb-4">Places visited per continent</h2>
    <%= pie_chart @stats[:waypoints_per_continent] %>
  </div>
<% end %>

<% if @stats[:distance_per_year].present? %>
  <div class="mt-5">
    <h2 class="display-6 mb-4">Distance travelled per year</h2>
    <%= column_chart @stats[:distance_per_year], discrete: true, round: 2, suffix: ' km' %>
  </div>
<% end %>
