<%= render 'shared/trips_header', trip: @trip, title: 'Blog' %>

<% if can? :new_trip, Post %>
  <%= render 'shared/add_button', target: trip_new_post_path(@trip), resource: 'blog post' %>
<% end %>

<div class="row row-cols-1 g-4">
  <%= render @posts %>
</div>
