<h1 class="display-2"><%= "#{@trip.title} - Blog" %></h1>

<%= render 'shared/navbar_trips' %>

<% if can? :new_trip, Post %>
  <div class="my-3">
    <%= link_to 'New blog post', trip_new_post_path, class: 'btn btn-dark btn-large' %>
  </div>
<% end %>

<div class="row row-cols-1 g-4">
  <%= render @posts %>
</div>
