<h1 class="display-2 mb-4">Blog posts</h1>

<div class="row row-cols-1 g-4">
  <%= render @posts %>
</div>

<% if @pagy.pages > 1%>
  <div class="my-5 text-center">
    <%== pagy_bootstrap_nav @pagy %>
  </div>
<% end %>
