<h1 class="display-2">New blog post</h1>

<%= link_to trip_posts_path(@trip), class: 'btn btn-large btn-outline-dark mb-4' do %>
  <i class="bi bi-arrow-left"></i>
<% end %>

<%= render 'form', post: @post %>
