/*
 *= require_tree .
 *= require_self
 */

body {
  margin-bottom: 3rem;
}

h1 {
  padding-bottom: 2rem;
}

.navbar-brand:hover {
  color: white;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 0.5rem;
  text-decoration: none;
  font-family: 'Delius Unicase', cursive;
}

.navbar-collapse {
  padding-top: 0.5rem;
}

.navbar-light {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover, .nav-link:hover {
  color: white;
  background-color: black;
}

.nav-link.active {
  background-color: black;
}

.nav-link {
  color: black;
}