/*
 *= require_tree .
 *= require_self
 */

body {
  margin-bottom: 3rem;
}

/* forms */

.form-error-list {
  background-color: #ff000013;
  padding: 1rem;
  border-color: darksalmon;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

.form-error-list li {
  list-style-type: none;
}

.form-error-list li:before {
  content: '\274C';
  margin-left: -20px;
  margin-right: 10px;
}

.field_with_errors {
  color: red;
}

/* navbar */

.navbar-brand:hover {
  color: white;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 0.5rem;
  text-decoration: none;
  font-family: 'Delius Unicase', cursive;
}

.navbar-collapse {
  padding-top: 0.5rem;
}

.navbar {
  transition: top 0.3s;
}

.navbar-light {
  color: black;
  background-color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover, .nav-link:hover {
  color: white;
  background-color: black;
}

.nav-link.active {
  background-color: black;
}

.nav-link {
  color: black;
}

/* trip navbar */

.trip-header {
  padding-top: 4rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  object-fit: cover;
}

.trip-header-text {
  background-color: black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1.2;
  color: white;
}

/* pagination links */

.page-link {
  color: black;
}

.page-link:hover {
  color: black;
}

.page-item.active .page-link {
  background-color: black;
  border-color: black;
}

.pagy-bootstrap-nav {
  display: inline-block;
}