/*
 *= require_tree .
 *= require_self
 */

:root {
  --color-1: #7da2a9;
  --color-2: #f7f7f7;
  --color-borders: #000;
  --color-active: #000;
}

body {
  background: var(--color-2);
}

main .container {
  min-height: 80vh;
}

.text-shadow {
  text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
}

/* cards */

.card {
  border-color: var(--color-borders);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

.card-body {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

.card-footer {
  background-color: rgba(255, 255, 255, 0.6);
  border-top-color: var(--color-borders);
}

/* forms */

.form-error-list {
  background-color: #ff000013;
  padding: 1rem;
  border-color: darksalmon;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

.form-error-list li {
  list-style-type: none;
}

.form-error-list li:before {
  content: "\274C";
  margin-left: -20px;
  margin-right: 10px;
}

.field_with_errors {
  color: red;
}

/* navbar */

.navbar-brand:hover {
  color: rgba(255, 255, 255, 0.8);
}

.trvlr-logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-2);
  background-color: var(--color-1);
  padding: 0.5rem;
  text-decoration: none;
  font-family: "Delius Unicase", cursive;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-2);
}

.trvlr-logo:hover {
  background-color: black;
}

.navbar-collapse {
  padding-top: 0.5rem;
}

.navbar {
  transition: top 0.3s;
}

.navbar-light {
  color: var(--color-2);
  background-color: var(--color-1);
  border-bottom-style: solid;
  border-bottom-color: var(--color-borders);
  border-bottom-width: 1px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-2);
  text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.35);
}

.navbar-light .navbar-nav .nav-link:hover,
.nav-link:hover {
  color: var(--color-2);
  background-color: var(--color-active);
}

.nav-link.active {
  background-color: var(--color-1);
}

.nav-link {
  color: black;
}

/* pagination links */

.page-link {
  color: black;
  border-color: var(--color-borders);
}

.page-link:hover {
  color: var(--color-2);
  background-color: var(--color-1);
  border-color: var(--color-borders);
}

.page-item.active .page-link {
  background-color: var(--color-1);
  border-color: var(--color-borders);
}

.page-item.disabled .page-link {
  border-color: var(--color-borders);
}

.pagy-bootstrap-nav {
  display: inline-block;
}

/* footer */

footer {
  margin-top: 3rem;
}

.footer-content {
  width: 100%;
  background-color: var(--color-1);
  color: var(--color-2);
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 2rem 0;
  margin-top: -1px;
}

footer a:hover {
  color: black;
}

/* buttons */

.btn {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-group {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-group .btn {
  box-shadow: none;
}

.btn-dark {
  background-color: var(--color-1);
  border-color: var(--color-borders);
}

.btn-outline-dark {
  border-color: var(--color-borders);
}

.btn-outline-dark.active {
  background-color: var(--color-1);
  border-color: var(--color-borders);
}

.btn-outline-dark:hover {
  background-color: var(--color-1);
  border-color: var(--color-borders);
}

.btn-admin {
  background-color: transparent;
  border-color: var(--color-2);
  color: var(--color-2);
}

.btn-admin:hover {
  background-color: black;
  color: var(--color-2);
}

/* interaction buttons */

.like-button {
  display: inline-flex;
  gap: 0.5rem;
}

.comments-button {
  display: inline-flex;
  gap: 0.5rem;
}

.interaction-button-group {
  display: inline-flex;
  gap: 1rem;
}

/* table rows */

.table-row-action-items {
  display: inline-flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
