/* comments */

.comment-card {
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  background-color: var(--color-1);
}

.comment-bottom-bar {
  display: flex;
  justify-content: space-between;
}
