/* visitor home */

.landing-header {
  height: 85vh;
  display: grid;
  align-content: center;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 75vh;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 120%;
  height: 100%;
  object-fit: cover;
}

.trip-carousel-text {
  background-color: black;
  padding: 0.5rem;
  line-height: 3rem;
}