.trip-sidebar {
  border: solid 1px lightgray;
  border-radius: 10px;
}

.trip-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trip-reaction-buttons {
  right: 2%;
  position: absolute;
  display: inline-flex;
}
