/* trips */

.trip-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trip-card:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.02);
}

.card-title {
  color: black;
}

.trip-show-info-block {
  display: inline-block;
  width: 80%;
}

.trip-show-action-buttons {
  display: inline-block;
  vertical-align: top;
}

/* map */

.map-container {
  width: 100%;
}