/* trips */

.trip-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trip-card:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.02);
}

.card-title {
  color: black;
}

.trip-button-row {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  display: inline-flex;
  gap: 0.2rem;
  margin-right: 1rem;
}

/* map */

.map-container {
  width: 100%;
}