/* users */

.user-avatar {
  width: 30vh;
  height: 30vh;
  margin: 2rem 0;
  object-fit: cover;
}

.user-to-follow-pic {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  display: inline;
  object-fit: cover;
  align-self: center;
}

.user-to-follow-body {
  text-align: center;
  background: none;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.user-to-follow-link {
  font-size: 1.5rem;
  background-color: black;
  border-radius: 50%;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  position: relative;
  align-self: center;
  left: 2rem;
  top: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.user-to-follow-link:hover {
  color: white;
  background-color: grey;
}

.user-to-follow-link > i {
  position: relative;
  top: -2px;
  left: 2px;
}
