<h1 class="display-2">Activity detail</h1>

<%= render 'shared/back_button', target: activities_path %>

<%= render @activity %>

<%= render 'comments/comments', commentable: @activity, can_comment: can?(:new_activity, Comment) %>
